<div id="footer">
    <div class="footer-container">
        <a href="/"><img src="/assets/full-lr-logo-curves-navbar.png"/></a>
        <div>
            <span>Developed for AZ-One Services Inc.</span>
            <span>by <a href="https://www.linkedin.com/in/alejandro-zapata-dev/" target="_blank">Alejandro Zapata</a></span>
            <span>All Rights Reserved &reg; <%= date %></span> 
        </div>                  
    </div>
</div>