<div class="introContainer">
    <img src="/assets/gallery/cam02.jpg" >
    <img src="/assets/gallery/stripes1.jpg" >
    <img src="/assets/gallery/cam03.jpg" >
    <img src="/assets/gallery/stripes2.jpg" >
    <img src="/assets/gallery/cam09.jpg" >
    <h2>Become</h2>
    <h2>A Surface</h2>
    <h2>Master</h2>

    <h2>No plug-ins <br> needed</h2>

    <%- include('../templates/downArrowSVG') -%>

</div>