<div id="navbar">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
    
    <div class="navbarContainer">
        <a href="/"><img src="/assets/favicom-lr-small.png" alt="lr-logo" class="navbarSmallLogo"></a>
        <a href="/"><img src="/assets/full-lr-logo-curves-navbar.png" alt="lr-logo" class="navbarFulllLogo"></a>
        <a><img src="/assets/menu-icon.png" alt="lr-logo" class="navbarMenuIcon" id="navbarMenuIcon"></a>
        
        <ul>
            <a href="/aboutbook"><li>About the eBook</li></a>
            <a href="/products"><li>Products</li></a>
            <a href="/free-tutorials"><li>Free Tutorials</li></a>
            <a href="/about-author"><li>About the Author</li></a>
            <a href="/contact"><li>Contact</li></a>
        </ul>
    </div>
</div>