<div id="sideNavbar-container">
  <ul>
    <a href="/aboutbook"><li>About the eBook</li></a>
    <a href="/products"><li>Products</li></a>
    <a href="/free-tutorials"><li>Free Tutorials</li></a>
    <a href="/about-author"><li>About the Author</li></a>
    <a href="/contact"><li>Contact</li></a>
  </ul>
</div>
