<%- include('./templates/head') -%>
<body>
    <%- include('./templates/navbar') -%>
    <%- include('./templates/sideNavbar') -%>

    <section id="header" class="infoArrow">
        <img src="/assets/learn-rhino-logo-1k-curves.png" class="inter-header">
    </section>

    <section class="infoArrow"> 
        <div class="central-text">
            <h2>About the Author</h2>
            
            <a href="https://www.rhino3d.com/en/training/Spain/Barcelona/#tabs-6" target="_blank"><img src="/assets/rhino-art-logo.png" class="author-photo"></a>

            <p>
                Alejandro Zapata is an Authorized Rhino Trainer (ART), Web Developer and a 3D artist specialized at surface modeling with years of visualization experience for architects, civil engineers and industrial designers. Since his beginnings in CG was passionate about car modeling always looking to excel in his technique; unfortunately there are very limited resources on the web about how to properly model a car in NURBS, which is the standard in CAD, and those that do tutorials, don’t go beyond achieving the shape of the car in the exercise without explaining what we are doing with the given instructions. This reason drives him to work for years to be able to provide quality material and position himself as a reference in the field of surface modeling, especially for the Spanish speaking market. His book, master rhino surfacing, seeks to fill this void.
            </p>
        </div>
    </section>

    <%- include('./templates/footer') -%>
    <script src="/js/navbar.js"></script>
    <script src="/js/sideNavbar.js"></script>
</body>
</html>