<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="LearnRhino" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Montserrat:wght@300;400;600;800&display=swap"
    rel="stylesheet"
  />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800;1,900&display=swap");
  </style>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      width: 100%;
      height: 100%;
      background-color: #15161b;
    }

    #main-container {
      margin: 5rem auto;
      background-color: #3d3d3d;
      min-width: 500px;
      max-width: 800px;
      width: 80%;
      color: #dadada;
      border-radius: 0.5rem;
    }

    #central-container {
      margin: 2rem auto;
      padding-top: 2rem;
      /* background-color: aqua; */
      width: 80%;
      height: fit-content;
    }

    #central-container img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      filter: drop-shadow(8px 2px 6px rgba(0, 0, 0, 0.6));
    }

    #central-container h2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #d63131;
      font-weight: 600;
      margin-top: 2rem;
    }

    #central-container .left-text-container {
      margin: 2rem 0;
    }

    .left-text-container {
      padding-bottom: 2rem;
    }

    .left-text-container p {
      margin: 1rem 0;
    }

    .left-text-container ul {
      list-style: none;
    }
  </style>
</head>
<body>
  <div id="main-container">
    <div id="central-container">
      <a href="https:learnrhino.com"
        ><img
          src="https://www.learnrhino.com/public/learn-rhino-logo-1k-curves.png"
          alt="lr-logo"
      /></a>
      <h2>Your LearnRhino Order #${data.orderNumber}</h2>

      <div class="left-text-container">
        <p>
          Hi ${data.firstName} ${data.lastName}, thank you very much for your
          order, it will be reviewed and processed as soon as possible for your
          convenience.
        </p>

        <p>
          Remember the e-book delivery can take up to 3 continuous days, but
          this usually happens within a few hours. You will receive another
          email with your eBook
        </p>

        <p>Below are your order details:</p>

        <ul>
          <li>Order Number: ${data.orderNumber}</li>
          <li>Full Name: ${data.firstName} ${data.lastName}</li>
          <li>Product: ${data.productName}</li>
          <li>Amount: USD$${data.orderAmount}</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</body>
