// -------- FONT ---------
$fontRemBase: 20px;
$fontMontserrat: "Montserrat", sans-serif;
$fontComfortaa: "Comfortaa", sans-serif;

// --------- COLORS ----------
$colorBackground: #15161b;
$colorBackgroundDark: #272727;
$colorBackgroundLight: #3D3D3D;
$colorFontLight: #dadada;
$colorFontYellow: #ffea75;
$colorFontLightBlue: #3e58d6;
$colorLightRed: #d63131;
$colorDarkRed: #7c0c0c;

// -------- MEASURES --------
$introWidth: 100vw;
$flagWidth: 100px;